.navigatie {
    display: flex;
    justify-content: center; 
    background-color: black;
    padding: 1rem 0; 
}

.navigatie ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 15px;
}

.navigatie li {
    margin: 0;
}

.navigatie a {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem; 
    font-size: 1rem; 
    text-transform: uppercase; 
    border-right: 1px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navigatie a:last-child {
    border-right: none;
}

.navigatie a:hover {
    background-color: gray; 
    color: black; 
}

.nav-item {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
    background-color: gray;
    color: black;
}