body {
    background: url(foto/film-achtergrond-collage_23-2149876017.avif) no-repeat center center fixed; 
    background-size: cover; 
    color: white; 
    margin: 0;
    padding: 0;
  }
  
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  nav h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 2rem;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  
  nav ul li {
    display: inline;
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: rgb(255, 0, 0);
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  .intro {
    margin-bottom: 2rem;
  }
  
  .grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .film {
    width: 200px;
    background-color: #2e2e2e;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .film img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .film h3 {
    margin: 0.5rem 0;
  }
  .navigatie {
    display: flex;
    justify-content: center; 
    background-color: black;
    padding: 1rem 0; 
}

.navigatie ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 15px;
}

.navigatie li {
    margin: 0;
}

.navigatie a {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem; 
    font-size: 1rem; 
    text-transform: uppercase; 
    border-right: 1px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navigatie a:last-child {
    border-right: none;
}

.navigatie a:hover {
    background-color: gray; 
    color: black; 
}

.nav-item {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
    background-color: gray;
    color: black;
}

.Meer-info {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.Meer-info :hover {
    background-color: #e65c00;
}
.black-bar{
    background-color: #000;
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin: 0;
}
.black-bar h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}